main {
    font-family: 'Fraunces', serif;
    font-weight: 600;
}

.navbar {
    position: relative;
    /* border: 2px solid red; */

}

.phone img {
    position: relative;
    bottom: -15rem;
    width: 750px;
    z-index: 2;
    margin: auto;

}
.navbar::after {
    content: "";
    display: block;
    border-radius: 25%;
    position: absolute;
    bottom: -35px;
    width: 100%;
    height: 50px;
    background: #24053E;
    z-index: 1;
}

.boxContainer {
    font-family: 'Fraunces', serif;
}

.spanCircle {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding-top: .4rem;
}


.footer-links {
    a {
      padding-bottom: 2px;
    }
  }

.circles{
    position: absolute;
    top: 15rem;
    left: -3rem;
    width: 30%;
}

.circles1{
    position: absolute;
    top: 5rem;
    right: -2rem;
    width: 20%;
    transform: rotate(300deg);
}